.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#pic1 {
  align-content: stretch;
}

header {
  position: sticky;
  overflow: hidden;
  text-decoration: none;
}

header a {
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  line-height: 15px;
  border-radius: 15px;
  text-decoration: none;
}
th{
  border: 1px solid black;
}

#menutable {
  margin: auto;
  width: 95%;
  border-style:solid;
  border-bottom:solid;
  border-top: solid;
  border-left: solid;
  border-right: solid;
}

#headercontact {
  font-weight: bold;
}

div {
  background-color: bisque;
}

#topthing {
  color: white;
}

#mainpage {
  background-color: bisque;
  min-height: 90vh;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

li {
  float: left;
  text-decoration: none;
  list-style-type: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
